* {
  margin: 0;
  padding: 0;
}
.plus_one {
  color: white;
}
#minus_one {
  color: white;
}
#list {
  font-size: 100px;
  color: white;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  display: flex;
  gap: 5%;
  align-items: center;
  background-color: #fb704d;
  height: 100vh;
}

h1 {
  color: white;
}

#inputs {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  width: 500px;
  height: 250px;
}
input{
  height: 30px;
  padding-top: 8px;
}
.streaks{
 display: flex;
 align-items: center;
}
h4 {
  color: #fb704d;
}
.task {
  background-color: #fb704d;
  color: white;
  height: 50px;
}
button {
  background-color: #fb704d;
  border: none;
  height: 50px;
  padding-top: 5px;
}

.add{
  color: white;
}
#submit{
  border: 2px solid black;
 margin-top: 15px;
 border-radius: 8px;
}

.streaks {
  display: flex;
  gap: 5%;
  padding: 10px;
}
.main_two {
  display: flex;
}

.bottom {
  display: flex;
  gap: 15%;
  padding-top: 5%;
  background-color: #fb704d;
  height: 50vh;
}
.minus{
  display: flex;
  align-items: center;
}
#single {
  position: fixed;
  top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 20vw;
  width: 30vw;
  height: 40vh;
  padding: 16px;
  z-index: 1001;  
  background-color:  #fbfcfb;
  color: red;
  box-shadow: 0 2px 8px  #474646;
  align-items: center;
}
